.YGO-body {
    background-color: #0f0e0e;
    padding: 10px 5%;
}
.YGO-card img {
    width: 100%;
}
.signIn {
    background-color: #fff;
    padding: 100px;
}
.signIn-field {
    height: 765px;
    background-color: #212121;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
}
.signIn-left img{
    width: 50%;
    height: 765px;
    position: absolute;
    border-radius: 20px 20px 0px;
    left: 0px;
}
.signIn-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signIn-right .title {
    font-size: 25px;
    color: #f5b112;
    margin-top: 75px;
    margin-bottom: 45px;
}
.remember-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}
.rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.rememberMe-text {
    color: white;
    font-size: 15px;
}
.forgotPassword-text {
    color: white;
    font-size: 15px;
}
.signUpBtn {
    font-size: 17px;
    color: white;
    margin-top: 100px;
}
.signInBtn {
    font-size: 17px;
    color: white;
    margin-top: 20px;
}
.signInBtn a{
    color: #f5b112;
    font-size: 17px;
}
.signUpBtn a {
    color: #f5b112;
    font-size: 17px;
}
.signIn .field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


@media screen and (max-width: 1015px) {
    .signIn-left {
        display: none;
    }
    .signIn-right {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .signIn {
        background-color: #fff;
        padding: 20px;
    }
}