.login-wrapper {
  border: 1px solid;
  padding: 80px 0px 50px 0px;
}
.login-container {
  width: 30%;
  margin: auto;
}

.recapcha {
  width: 30%;
  height: auto;
  padding-top: 100px;
}
.recapcha .title {
  font-size: 25px;
  font-weight: 600;
}
.recapcha .text {
  font-size: 16px;
  margin: 0px 0 30px 0;
}